<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="OrangeHRM Test Suite" verbose="1">

    <test name="Login Tests">
        <classes>
            <class name="com.orangehrm.tests.LoginTest"/>
        </classes>
    </test>

    <test name="Navigation Tests">
        <classes>
            <class name="com.orangehrm.tests.NavigationTest"/>
        </classes>
    </test>

    <test name="Admin Tests">
        <classes>
            <class name="com.orangehrm.tests.AdminTest"/>
        </classes>
    </test>

    <test name="PIM Tests">
        <classes>
            <class name="com.orangehrm.tests.PimTest"/>
        </classes>
    </test>

</suite>